body {
		  margin: 0;
		  overflow: hidden;
		  background-color: black;
		}
		
		.scene {
		  width: 100%;
		  height: 100%;
		  position: fixed;
		  top: 0;
		  left: 0;
      display: none;
		}
		
		.credits.hidden{
			display: none;
		}
		
		.credits {
		  position: fixed;
		  bottom: 10px;
		  left: 50%;
		  right: auto;
		  transform: translateX(-50%);
		  text-align: center;
		  z-index: 10;
		}
		
		a {
		  display: block;
		  padding: 2px 0;
		  color: #1d1f3f;
		  text-decoration: none;
		  font-family: Helvetica, Verdana, sans-serif;
		  font-size: 15px;
		}
		
		a:hover {
		  text-decoration: underline;
		}
		
		.gift.hidden {
		  display: none;
		}
		
		.gift {
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  background: black;
		  cursor: pointer;
		}
		
		.gift svg {
		  width: 100%;
		  height: 100%;
		}